extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Dynamically add the project title.
        h1 #{projects.project_name}

        //- Dynamically add the project description.
        p.lead.text-light #{projects.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        //- Dynamically add the technologies used in each project.
        ul
          each tech in projects.technologies
            li #{tech}

        //- Add URLs that link to the repo and the live version of each project.
        a.button.expanded(href=`${projects.live_link}`) Live Demo
        a.button.expanded(href=`${projects.github_link}`) GitHub Repo
    
    //- Dynamically add project images.
    img.image(src= projects.image_urls[1])
    img.image(src= projects.image_urls[2])